@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.nav {
  background-color: #373737 !important;
  padding: 0px;

  .navbar-toggler {
    margin: 10px 0px 10px 10px;
  }

  .navbar {
    display: flex;
    width: 100%;
    padding: 0px;

    .nav-item-wrapper {
      text-align: center;
      cursor: pointer;
      flex: 1 1;

      .nav-item {
        .nav-link {
          padding: 0px;
          color: white;
          background-color: #373737;

          a {
            color: white;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            padding: 20px 0px;
          }

          &.active {
            background-color: #8dc63f !important;
          }

          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  right: 0px;
  min-width: 120px;
  background-color: #373737 !important;
  padding: 0px;

  .dropdown-item {
    padding: 10px 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background-color: gray;
    }

    &.active {
      background-color: #8dc63f !important;
    }
  }
}

// Navbar for collapsed state
@include media-breakpoint-down(lg) {
  .navbar {
    display: block !important;
  }

  .dropdown-menu {
    margin: 5px;
    position: static;
    border: 10px solid white;
  }
}
