.nav {
  background-color: #373737;

  .category {
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
    }

    &.active {
      background-color: #8dc63f;
    }
  }
}
